numpy==1.26.4
scipy==1.13.0
PyYAML==6.0.1
albumentations==2.0.4
timm==1.0.14
pycocotools==2.0.7
opencv-contrib-python==4.9.0.80
gradio==4.44.1
psutil==5.9.8
py-cpuinfo==9.0.0
huggingface-hub==0.23.2
safetensors==0.4.3
supervision==0.22.0
PyQt6
jupyterlab
