torch
torchvision
timm
albumentations
pycocotools
PyYAML
scipy
gradio
opencv-contrib-python
psutil
py-cpuinfo
huggingface-hub
safetensors
numpy
supervision
PyQt6
jupyterlab
ipykernel
matplotlib
pandas
pillow